# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:54325/project_one

# Redis
REDIS_URL=redis://localhost:63799

# Blob storage
BLOB_READ_WRITE_TOKEN=generate-with-openssl-rand-base64-32

# Better Auth
BETTER_AUTH_SECRET=generate-with-openssl-rand-base64-32
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Client
VITE_APP_URL=http://localhost:3000

# Email (Resend)
RESEND_API_KEY=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=

# server side urls
APP_URL=http://localhost:3000
VERCEL_URL=localhost
VERCEL_PROJECT_PRODUCTION_URL=
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=generate-with-openssl-rand-base64-32